
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Manrope;
        src: url('~@/assets/fonts/Manrope.ttf') format("truetype");
    }
    @font-face {
        font-family: Roboto Slab;
        src: url('~@/assets/fonts/RobotoSlab.ttf') format("truetype");
    }
    * {
        font-family: 'Manrope', sans-serif;

    }
    *::-webkit-scrollbar-track {
        background-color: transparent;
    }

    *::-webkit-scrollbar {
        width: 12px;
        background-color: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background-color: theme('colors.gray.300');
        border: 2px solid white;
        &:hover {
            background-color: theme('colors.gray.400');

        }
    }

    h1 {
        @apply text-5xl;
        @apply dark:text-gray-100;
        font-family: 'Roboto Slab', sans-serif;
    }
    h2 {
        @apply text-4xl;
        @apply dark:text-gray-100;
        font-family: 'Roboto Slab', sans-serif;
    }
    h3 {
        @apply text-3xl;
        @apply dark:text-gray-100;
        font-family: 'Roboto Slab', sans-serif;
    }
    h4 {
        @apply text-2xl;
        @apply dark:text-gray-100;
        font-family: 'Roboto Slab', sans-serif;
    }
    h5 {
        @apply text-xl;
        @apply dark:text-gray-100;
        font-family: 'Roboto Slab', sans-serif;
    }
    p {
        @apply dark:text-gray-100;
    }
    hr {
        @apply my-2;
    }
    a {
        font-family: 'Roboto Slab', sans-serif;
        @apply text-purple-500;
        @apply dark:text-purple-300;
        &:hover {
            @apply underline;
            text-decoration-color: currentColor;
        }
    }
}
